.ct-grid-lines {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.ct-grid-lines .container {
  height: 100%;
  position: relative;
}

.ct-grid-lines .container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(187, 170, 221, 0.8);
}

.ct-grid-lines .container:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(187, 170, 221, 0.8);
}

.ct-grid-lines .container .row {
  height: 100%;
}

.ct-grid-lines .container .row > * {
  height: 100%;
  /*background: rgba(186, 218, 85, 0.2);
  background: rgba(187, 170, 221, 0.8);*/
}

.ct-grid-lines .container .row > *:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(186, 218, 85, 0.2);
  background: rgba(187, 170, 221, 0.3);
}
